* {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

body {
    background: #1D3557;
}

#destinations-bar {
    border-radius: 10px;
    min-height: 95%;
    min-width: 10%;
    position: fixed;
    top: 15px;
    left: 15px;
    background: #A8DADC;
   
    
}

#destinations-bar li{
    list-style-type: none;
    
}

.block {
    display: inline-block;
    width: 120px;
    height: 100px;
    background-color:#1D3557;
    border-style: outset;
    margin-bottom: 10px; 
    margin-right: 30px;
    margin-left: -20px;
  }

.block img {
    width: 110px;
    height: 60px;
    
}

.block p {
    margin-top: 1px;
    color: #A8DADC;
}

  #destinations-container {
    text-align: center;
    max-height: 620px;
    max-width: auto;
    background-color: #79dbdf;
    overflow-y: scroll;
    
  }

h2 {
    text-align: center;
    position: relative;
    top: -15px;
    font-size: 22px;
    color: #1D3557;
}

button {
    position: absolute;
    bottom: 15px;
    right: 10px;
    font-size: 32px;
    padding: 2px 10px;
    background: #E63946;
    color: #F1FAEE;
    border: none;
    border-radius: 5px;
    box-shadow: 0 3px #A31420;
}

button:hover {
    background: #A31420;
}

button:active {
    background: #EC5B67;
    box-shadow: none;
    transform: translateY(3px);
}

#attractions-bar {
    border-radius: 10px;
    min-height: 16%;
    min-width: 86%;
    box-sizing: border-box;
    position: fixed;
    bottom: 15px;
    right: 15px;
    background: #A8DADC;
    border: 3px solid #457B9D;
    max-height: 120px;
    max-width: 1000px;
}

#attractions-container {
    /* background-color: #A31420; */
    margin-top: -525px;
    margin-left: 500px;
    max-height: 1100px;
    max-width: 120px;
    transform: rotate(-90deg);
    overflow-y: scroll;
}

#attractions-bar li {
    list-style-type: none;
    transform: rotate(90deg);
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 20px;
}

#attractions-bar p {
    text-align: center;
}


#main-div {
    border-radius: 10px;
    min-height: 80%;
    min-width: 86%;
    box-sizing: border-box;
    position: fixed;
    right: 15px;
    top: 10px;
    background: #A8DADC;
    border: 3px solid #457B9D;
}

#header {
    position: absolute;
    min-height: 18%;
    min-width: 99%;
}

#vacations {
    min-height: 80%;
    min-width: 95%;
    border-radius: 10px;
    position: absolute;
    bottom: 10px;
    right: 20px;
    margin: 10px;
    background: #F1FAEE;
}

#modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
}

#modal-content {
    background-color: #F1FAEE;
    margin: auto;
    padding: 20px;
    border: 3px solid #457B9D;
    width: 80%; 
}