* {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

body {
    background: #1D3557;
}

#destinations-bar {
    border-radius: 10px;
    min-height: 95%;
    min-width: 10%;
    position: fixed;
    top: 15px;
    left: 15px;
    background: #A8DADC;
    border: 3px solid #457B9D;
}

#destinations-bar li{
    list-style-type: none;
    
    
}
.block {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color:#787b80;
    border-style: outset;
    margin-bottom: 10px; 
    
  }

.block img {
    width: 95px;
    height: 60px;
}

  #destinations-container {
    text-align: center;
  }

h2 {
    text-align: center;
    position: relative;
    top: -15px;
    font-size: 22px;
    color: #1D3557;
}

button {
    position: absolute;
    bottom: 15px;
    right: 10px;
    font-size: 32px;
    padding: 2px 10px;
    background: #E63946;
    color: #F1FAEE;
    border: none;
    border-radius: 5px;
    box-shadow: 0 3px #A31420;
}

button:hover {
    background: #A31420;
}

button:active {
    background: #EC5B67;
    box-shadow: none;
    transform: translateY(3px);
}

#attractions-bar {
    border-radius: 10px;
    min-height: 16%;
    min-width: 86%;
    box-sizing: border-box;
    position: fixed;
    bottom: 15px;
    right: 15px;
    background: #A8DADC;
    border: 3px solid #457B9D;
}

#attractions-bar li {
    list-style-type: none;
    display: inline;
}


#main-div {
    border-radius: 10px;
    min-height: 80%;
    min-width: 86%;
    box-sizing: border-box;
    position: fixed;
    right: 15px;
    top: 10px;
    background: #A8DADC;
    border: 3px solid #457B9D;
}

#header {
    position: absolute;
    min-height: 18%;
    min-width: 99%;
}

#vacations {
    min-height: 80%;
    min-width: 95%;
    border-radius: 10px;
    position: absolute;
    bottom: 10px;
    right: 20px;
    margin: 10px;
    background: #F1FAEE;
}

#modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
}

#modal-content {
    background-color: #F1FAEE;
    margin: auto;
    padding: 20px;
    border: 3px solid #457B9D;
    width: 80%; 
}